<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} [%X{traceId}] - %msg%n</Property>
        <Property name="LOG_FILE_PATH">${sys:user.dir}/log/test.log</Property>
        <!-- SQL 로그 레벨: 기본 DEBUG, 필요 시 -DSQL_LOG_LEVEL=INFO -->
        <Property name="SQL_LOG_LEVEL">${sys:SQL_LOG_LEVEL:-DEBUG}</Property>
        <!-- MyBatis 인터셉터 로그 레벨: 기본 WARN, 필요 시 -DMYBATIS_LOG_LEVEL=DEBUG -->
        <Property name="MYBATIS_LOG_LEVEL">${sys:MYBATIS_LOG_LEVEL:-WARN}</Property>
    </Properties>
    
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- File Appender -->
        <RollingFile name="FileAppender" fileName="${LOG_FILE_PATH}"
                     filePattern="${LOG_FILE_PATH}.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        
        <!-- SQL Logging Appender -->
        <RollingFile name="SqlAppender" fileName="${sys:user.dir}/log/sql.log"
                     filePattern="${sys:user.dir}/log/sql.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
        
        <!-- Spring Framework Loggers -->
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.springframework.web" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.springframework.orm" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.springframework.transaction" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.springframework.security" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- Application Loggers -->
        <Logger name="com.smw" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <!-- MyBatis Mapper 기본 로그(Preparing/Parameters/Total) 노이즈 억제 -->
        <Logger name="com.smw.guild.mapper" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="com.cf" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="com.admin" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="com.sysconf" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- Interceptor Loggers - DEBUG 제거 -->
        <Logger name="com.sysconf.interceptor" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- MybatisInterceptor: inline SQL(파라미터 합친 형태) 디버깅용 -->
        <Logger name="com.sysconf.interceptor.MybatisInterceptor" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- SQL Loggers - WARN으로 변경하여 불필요한 로그 제거 -->
        <!-- sqlonly는 sqltiming과 중복되기 쉬워 기본 OFF -->
        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        <!-- sqltiming: 실행된 SQL + timing (필요 시 INFO로 올려서 쿼리 확인) -->
        <Logger name="jdbc.sqltiming" level="${SQL_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        <!-- log4jdbc-log4j2 delegator 로거
             - SQL 로그는 유지하되, ResultSet "표 형태" 덤프만 필터링 -->
        <Logger name="log4jdbc.log4j2" level="INFO" additivity="false">
            <!-- 예: 파이프(|)로 보이는 resultset table 출력만 차단 -->
            <RegexFilter regex="(?s).*\\|[-]{5,}\\|.*" onMatch="DENY" onMismatch="NEUTRAL"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        <Logger name="jdbc.resultset" level="warn" additivity="false">
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        <!-- resultsettable(표)는 로그가 과도하므로 OFF -->
        <Logger name="jdbc.resultsettable" level="OFF" additivity="false" />
        <Logger name="jdbc.connection" level="warn" additivity="false">
            <AppenderRef ref="SqlAppender"/>
        </Logger>
        
        <!-- Hibernate Loggers - WARN으로 변경하여 불필요한 로그 제거 -->
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Tomcat Loggers - HTTP 파싱 에러 로그 레벨 조정 -->
        <Logger name="org.apache.coyote" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.apache.catalina" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.apache.tomcat" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration> 